
body {
  font-family: 'Prompt', sans-serif;
  background-color: #6DADC5ff;
  margin-left: 60px;
}

h1 {
  width: 50%;
  text-align: center;
  border: .03em solid;
  margin: 50px 0px 5px 0px ;
}

h2 {
  width: 50%;
  text-align: center;
  border: .03em solid;
  margin: 5px 0px 5px 0px;
}

.button-container{
  display: flex;
  margin: 50px 60px 0px 30px;

}
.btn{
  font-family: 'Prompt', sans-serif;
  border: 3em, solid;
  border-color: #0D5C70ff;
  color: black;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px 0px;
}

.article {
  display: flex;
  text-decoration: none;
}

#hometile {
    display: block;
    width: 80%;
    border: 1em solid ;
    border-color: #0D5C70ff;
    padding: 1.5em;
    margin: 0px;
    border-radius: .5em;
  }

#biotile {
    display: block;
    width: 80%;
    border: 1em solid ;
    border-color: #DC8CB1ff;
    padding: 1.5em;
    margin: 0px;
    border-radius: .5em;
}

#resumetile {
    display: block;
    width: 80%;
    border: 1em solid ;
    border-color: #0D5C70ff;
    padding: 1.5em;
    margin: 0px;
    border-radius: .5em;
  }
#projectstile {
    display: block;
    width: 80%;
    border: 1em solid ;
    border-color: #D2C1C8ff;
    padding: 1.5em;
    margin: 0px;
    border-radius: .5em;
  }
#linkstile {
    display: flex;
    width: 80%;
    border: 1em solid ;
    border-color: #3B3D4Aff;
    padding: 1.5em;
    margin: 0px;
    border-radius: .5em;
  }
.img {
  max-width: 600px;
}


/* Modal////////// */



#modal {
  background-color: rgba(0,0,0,0.4);
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

#modal-textbox {
  margin: 150px auto;
  text-align: center;
  background-color: #D2C1C8ff;
  height: 130px;
  max-width: 300px;
  border-radius: .5em;
}

#h1modal {
  width: 100%;
  text-align: center;
  border: none;
}




/* carousel */

.carousel-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 80%;
	background: #fa8d8e;
	padding: 10px;
	border-radius: .5em;
	box-sizing: border-box;
}
.carousel-images img {
	width: 100%;
	display: none;
}
.carousel-button{
	align-self: center;
	color: #0D5C70ff;
	padding: 10px;
	text-align: center;

}



.carousel-images img:first-of-type {
	display:block;
}


/* CSS HEX */
/* #3B3D4Aff */
/* --rhythm: ;
--charm-pink: #DC8CB1ff;
--blue-sapphire: #0D5C70ff;
--maximum-blue: ;
--black-shadows: #D2C1C8ff; */

/* Carousel CSS */



















